<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Pièce supprimée</title>
    <style>
      body {
        font-family: arial,sans-serif;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 29.7cm;
        width: 21cm;
      }
      span {
        border: solid 1px red;
        padding: 1em;
        max-width: 90%;
      }

    </style>
  </head>
  <body>
    <div class="container">
        <span>
            {{ msg }}
        </span>
    </div>
  </body>
</html>